.App {
  text-align: center;
}

@font-face {
  font-family: 'Book Antiqua';
  src: url('./assets/Book-Antiqua.ttf') format('truetype');
}
/*main*/
.content {
  display: flex;        
}

/* Main content area */
.main {
  flex: 1;
  margin-left: 220px;  /* same as sidebar width */
  padding: 20px;
  background: #f5f5f5;
  min-height: 100vh;
  transition: margin-left 0.3s ease;
}

.main.with-sidebar {
  margin-left: 220px;
  transition: margin-left 0.3s ease;
}

.main.full {
  margin-left: 50px; /* leave space for arrow when sidebar closed */
  transition: margin-left 0.3s ease;
}
.overall {
  padding-top: 60px;  /* equal to header height */
}
